#mad-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }

#mad-overlay-container {
    position: fixed;
    display: block;
    width: 33%;
    height: 50%;
    top: 33%;
    left: 25%;
    /* right: 0;
    bottom: 0;*/
    background-color: rgba(100,100,100);
    z-index: 2;
    cursor: auto;
  }
  
  #mad-overlay-inner{
    position: absolute;
    display:"block";
    top: 50%;
    left: 50%;
    /* font-size: 50px; */
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }