body {
    background-color: #333333;
  }

#mad-chat-div {
    position: fixed;
    display: block;
    bottom: 0;
    right: 0;
    margin: 10;
    padding: 20;
    outline: thick solid #882288;
    z-index: 3;
    background-color: #BBBBBB;

  }


#mad-chat-inner-div {
    bottom: 0;
    overflow-y: auto;
    width: 300px;
    height: 200px;
    
}



  /* border: 2px solid #000;
  padding: 15px;
  overflow-y: auto;
  height: 200px;
   */
#mad-lobby-div {
    display: block;
    margin: auto;
    padding: 20;    
    outline: thick solid #222288;
    width: 50%;
    background-color: #BBBBBB;
}

#mad-waiting-room-div {
    display: block;
    margin: auto;
    padding: 20;    
    outline: thick solid #228822;
    width: 50%;
    background-color: #BBBBBB;
}

#mad-game-div {
    width: 100%;
    height: 100%;
    /* display: block;
    margin: 10;
    padding: 20;     */
    outline: thick solid #882222;
    z-index: 2;
}


#table-lobby {
    outline: thick solid #BBBB22;
    margin: 10;
    padding: 20;    
}

#table-waiting-room-player-list {
    outline: thick solid #22BBBB;
    margin: 10;
    padding: 20;    
}

#mad-news-div {
    outline: thick solid #0000FF;
    position: fixed;
    display: block;
    top: 50;
    right: 0;
    margin: 10;
    padding: 20;
    background-color: #BBBBBB;
}

#mad-scoreboard-div {
    outline: thick solid #4400BB;
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    margin: 10;
    padding: 20;
    z-index: 4;
    background-color: #BBBBBB;
}

#turn-counter-scoreboard {
    display: block;
    font-size: 20px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  background-color: DodgerBlue;
}
