
#mad-chat-div {
    position: fixed;
    display: block;
    bottom: 0;
    right: 0;
    margin: 10;
    padding: 20;
    outline: thick solid #882288;
  }


#mad-lobby-div {
    display: block;
    margin: auto;
    padding: 20;    
    outline: thick solid #222288;
    width: 50%;
}

#mad-waiting-room-div {
    display: block;
    margin: auto;
    padding: 20;    
    outline: thick solid #228822;
    width: 50%;
}

#mad-game-div {
    display: block;
    margin: 10;
    padding: 20;    
    outline: thick solid #882222;
}


#table-lobby {
    outline: thick solid #BBBB22;
    margin: 10;
    padding: 20;    
}

#table-waiting-room-player-list {
    outline: thick solid #22BBBB;
    margin: 10;
    padding: 20;    
}

#mad-news-div {
    outline: thick solid #0000FF;
    position: fixed;
    display: block;
    top: 50;
    right: 0;
    margin: 10;
    padding: 20;
}