
#mad-chat-div {
    position: fixed;
    display: block;
    bottom: 0;
    right: 0;
    margin: 10;
    padding: 20;
    outline: thick solid #882288;

  }


#mad-chat-inner-div {
    bottom: 0;
    overflow-y: auto;
    width: 300px;
    height: 200px;
    
}



  /* border: 2px solid #000;
  padding: 15px;
  overflow-y: auto;
  height: 200px;
   */
#mad-lobby-div {
    display: block;
    margin: auto;
    padding: 20;    
    outline: thick solid #222288;
    width: 50%;
}

#mad-waiting-room-div {
    display: block;
    margin: auto;
    padding: 20;    
    outline: thick solid #228822;
    width: 50%;
}

#mad-game-div {
    display: block;
    margin: 10;
    padding: 20;    
    outline: thick solid #882222;
}


#table-lobby {
    outline: thick solid #BBBB22;
    margin: 10;
    padding: 20;    
}

#table-waiting-room-player-list {
    outline: thick solid #22BBBB;
    margin: 10;
    padding: 20;    
}

#mad-news-div {
    outline: thick solid #0000FF;
    position: fixed;
    display: block;
    top: 50;
    right: 0;
    margin: 10;
    padding: 20;
}


.flex-container {
  display: flex;
  flex-flow: row wrap;
  background-color: DodgerBlue;
}
